mat-card {
    width: 80%;
    margin: auto;
    text-align: center;
}

h3 {
    text-align: center;
<<<<<<< HEAD
=======
}

.signup {
    margin: auto;
    padding: 2rem;
>>>>>>> cf82c01a6b5341d47b8ef7dc94dc4f7fe6d55270
}