<div class="jumbotron">
  <h1 style="text-align: center;">Login</h1>
</div>

<mat-card>
  <form (submit)="login(loginForm)" #loginForm="ngForm">
    <mat-form-field>
      <input matInput 
        type="text" 
        name="email"
        ngModel
        required
        placeholder="Email@example.com"
        #email= "ngModel">
      <mat-error *ngIf="email.invalid">Please enter a valid email address.</mat-error>
    </mat-form-field><br>
    <mat-form-field>
      <input matInput
        type="password"
        name="password"
        ngModel
        required
        placeholder="Password"
        #password="ngModel">
      <mat-error *ngIf="password.invalid">Please enter a password</mat-error>
    </mat-form-field><br><hr>
    <button mat-raised-button
      color="primary"
      type="submit">Let's Go</button>
  </form>
</mat-card>

  <!-- This is a bootstrap col container to hold movies, just a placeholder -->
  <div class="container homepage">
    <div class="row">
      <div class="col-sm">
        <img src="../assets/images/mysteryposter.jpeg">
      </div>
      <div class="col-sm">
        <img src="../assets/images/horrerposter.jpeg">
      </div>
      <div class="col-sm">
        <img src="../assets/images/thrillerposter.jpeg">
      </div>
    </div>
  </div>
 
