<div class="jumbotron">
<h3>My Watched Movies</h3>
</div>

<div id="search" class="container">
    <input [(ngModel)]="title" placeholder="Enter Movie Title..."
        class="text" style="width:50%"/>
        <br><br>
    <button (click)="searchMovie(title)" 
        class="btn btn-primary btn-lg">Search</button>
        <br><br>
</div>
<div id="lists" class="container">
    <ul class="list-group">
    <li class="list-group-item" *ngFor="let movie of result.Search">
        <a href="http://imdb.com/title/{{movie.imdbID}}" target="_blank" style="color: yellow">
        <img src="{{movie.Poster}}" class="thumbnail" height="100" width="75"><br>
        {{movie.Title}} ({{movie.Year}})
        </a>
        <br>
        Add to: <input type="checkbox" name="addWatched">
                <label for="addWatched" style="margin-right: 3px" style="margin-right: 15px"> Watched </label>
                <input type="checkbox" name="addOwned">
                <label for="addOwned" style="margin-right: 3px" style="margin-right: 15px"> Owned </label>
                <input type="checkbox" name="addWish">
                <label for="addWish" style="margin-right: 3px" style="margin-right: 15px"> Wishlist </label>
        <br>
        <button class="btn btn-success btn-sm" style="color:white">Submit</button>
    </li>
    </ul>
</div>


