.search {
    margin: auto;
    padding: 2rem;
}

input {
    text-align: center;
} 


mat-card {
    width: 60%;
    margin: auto;
}

h2 {
    font-family: "Arial Black", Helvetica, sans-serif;
    color: white;
  }
  
  #search {
    font-family: "Arial Black", Helvetica, sans-serif;
    font-size: medium;
    font-weight: bold;
    color: white;
  }
  
  ul {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    color: white;
    text-align: center;
    list-style-type: none;
    padding: 0;
    float: center;
  }
  
  ul li {
    padding: 8px 16px;
    border-bottom: 2px solid gray;
    background-color: black;
    opacity: 0.8;
    padding: 0;
  }
  
  .column {
    float: left;
    width: 50%;
  }
  
  .row:after {
    content: "";
    display: table;
  }
  
  .owned .badge {
    display: inline-block;
    font-size: medium;
    color: black;
    padding: 2;
    background-color: yellow;
    line-height: 1em;
    position: relative;
    text-align: center;
  }
  
  .delete {
    float: right;
    background-color: red;
    color: white;
    padding: 0;
    border-radius: 5px;
    margin-right: 1em;
    font-size: medium;
    font-family: "Arial", Helvetica, sans-serif;
  }
    