.search {
    margin: auto;
    padding: 2rem;
}

input {
    text-align: center;
}

mat-card {
    width: 60%;
    margin: auto;
    padding: 2rem;
    margin-bottom: 5px;
}
<<<<<<< HEAD
=======

mat-card-content {
 margin-bottom: 2px;
 padding: 1rem; 

}
>>>>>>> 740d0f3e28d3314976bf02b03f534464b17fc7f6
