#header-brand {
    text-align: center;
    font-family: Futura, "Arial Black", Helvetica, sans-serif;
    color: whitesmoke;
    margin: auto;
}

<<<<<<< HEAD
.btn {
    font-family: "Arial Black", Arial, Helvetica, sans-serif;
    background-color: gray;
    border: 1px solid white;
    color: white;
    text-align: center;
    font-size: 15px;
}

=======
>>>>>>> cf82c01a6b5341d47b8ef7dc94dc4f7fe6d55270
