#header {
    text-align: center;
    font-family: "Futura", "Arial Black", Helvetica, sans-serif;
<<<<<<< HEAD
}

button {
    margin-left: 5px;
}

=======
    color: white;
}

a {
    color: palevioletred;
}
>>>>>>> 5b86c58681ce3e88e2bafa281b9be84e75745e42
