<div id= "header" style="text-align:center">

  <h1>{{ title }}</h1>

<mat-toolbar color="light">
  <h1 class="navbar-brand">Movie Buff</h1>
  <button mat-button routerLink="/watched-list">Watched Movies</button>
  <button mat-button routerLink="/owned-list">Owned Movies</button>
  <button mat-button routerLink="/wish-list">Wishlist</button>
  <button mat-button  routerLink='/search-movies'>Search</button>
  <button mat-button routerLink='/signup'>Sign Up</button> 
  <button mat-button  routerLink='/login'>Login</button>

</mat-toolbar>

<router-outlet></router-outlet>

</div>

