<div class="login">
    <h2><a href="login">Login</a></h2>
    <h2><a href="signup">Sign Up</a></h2>
      
    <h2 class="login-header">Sign Up</h2>
    <form [formGroup]="signUpForm" class="login-container" (ngSubmit)="submit()">

        <p [ngClass]="{ 'has-error': isSubmitted && formControls.name.errors }">
        <input type="text" placeholder="User Name" formControlName="name">
        </p>

        <p [ngClass]="{ 'has-error': isSubmitted && formControls.email.errors }">
        <input type="email" placeholder="email@email.com" formControlName="email">
        </p>

        <div *ngIf="isSubmitted && formControls.email.errors" class="help-block">
        <div *ngIf="formControls.email.errors.required">Email is required</div>
        </div>

        <p [ngClass]="{ 'has-error': isSubmitted && formControls.password.errors }">
        <input type="password" placeholder="Password" formControlName="password">
        </p>

        <div *ngIf="isSubmitted && formControls.password.errors" class="help-block">
        <div *ngIf="formControls.password.errors.required">Password is required</div>
        </div>

        <p>
        <input type="submit" value="Sign Up">
        </p>
    </form>
</div>

  <!-- This is a bootstrap col container to hold movies, just a placeholder -->
  <div class="container homepage">
    <div class="row">
      <div class="col-sm">
        <img src="../assets/images/mysteryposter.jpeg">
      </div>
      <div class="col-sm">
        <img src="../assets/images/horrerposter.jpeg">
      </div>
      <div class="col-sm">
        <img src="../assets/images/thrillerposter.jpeg">
      </div>
    </div>
  </div>