<div class="container signup">
    <form>
      <div class="form-group">
        <label for="name">First Name</label>
        <input type="text" class="form-control" placeholder="John" id="first-name" required>
      </div>

      <div class="form-group">
        <label for="name">Last Name</label>
        <input type="text" class="form-control" placeholder="Smith" id="last-name" required>
      </div>

      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" placeholder="JohnSmith@gmail.com" id="email" required>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="text" class="form-control" id="password" required>
      </div>

      <button type="submit" class="btn btn-primary">Sign Up</button>

    </form>
</div>